<H1>Enter a new lesson</h1>

  <form action="/lessons" method="post">
    <label for="lesson_number">Lesson Number</label><br>
    <input for="lesson_number" name="number" type="integer"></br>
    <label for="lesson_name">Name</label><br>
    <input id="lesson_name" name="name" type="text"><br>
    <label for="lesson_description">Description</label><br>
    <textarea id="lesson_description" name="description">Enter Lesson here...</textarea><br>
    <button>Create Lesson</button>
  </form>
